<nav class="navbar navbar-expand-lg shadow-sm p-md-3">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="./img/flag.png" alt="flag.png" width="50px" />
    <h3 class="ml-3 m-0">CURP MEX</h3>
  </a>
  <button
    class="navbar-toggler border-0"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav ml-auto text-capitalize">
      <a href="/generador" class="nav-item nav-link">generador</a>
      <a href="/acerca" class="nav-item nav-link">acerca</a>
    </div>
  </div>
</nav>
